$orange         : #BD3613;
$blue           : #2176C7;
$dark-blue		: #446987;
$white			: #FFFFFF;
$black			: #000000;
$baige			: #D9D4D4;
$grey			: #C2C0C0;

$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;
$title-font: 'Merienda One', Helvetica, sans-serif;

$default-border-radius : 10px;